div.box, div.cell {
	display: inline-block;
}

.cell input {
	width: 	50px;
	height: 50px;
	border: 1px solid black;
	box-shadow:inset 2px 2px;
	font-size: 35; 
	font-weight: bold;
	font-family: "Ariel";
	text-align: center;

}

#sudoku {
	font-size: 	0;
	text-align: center;
	position: absolute; bottom:50; right:20;
}

body {
	text-align: center;
	font-family: Arial; color: #f2b0d6;
	font-size: 30;
	background-image: url("../images/panda.png");
	background-position: left bottom; 
	background-size: 45% 90%;
	background-repeat: no-repeat;
	background-color: #8d8a83
}

.incorrect {
	background-color: #f2b0d6;
}

.value-provided {
	background-color: #DDD;
}







